In [1]:
x= input("Enter Kilometer to be converted into miles: ")
y= float(x) * 1.60934

print (y)

Enter Kilometer to be converted into miles: 2
3.21868

In [3]:
x= input("Enter degree celsius to be converted into fahrenheit: ")
y= float(x) * (9/5) + 32

print (y)

Enter degree celsius to be converted into fahrenheit: 1
33.8

In [23]:
import calendar
#year
yy = 2022
#month  
mm = 1     
print(calendar.month(yy, mm))

    January 2022
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [34]:
import cmath

a = 1
b = 7
c = 10

# Middle Value
d = (b**2) - (4*a*c)

# solutions
Root1 = (-b-cmath.sqrt(d))/(2*a)
Root2 = (-b+cmath.sqrt(d))/(2*a)

print(Root1, Root2)

(-5+0j) (-2+0j)

In [35]:
x = 16
y = -36

x, y = y, x
print("x =", x)
print("y =", y)

x = -36
y = 16